<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Pokédex 2.0</title>
        <link rel="icon" type="image/png" href="images/webicon.png">
        <link rel="stylesheet" href="stylesheet/default.css"> <!-- Default css values that apply to all pages -->
        <link rel="stylesheet" href="stylesheet/home.css"> <!-- Specific css values for home page -->
    </head>

    <body>
        <main>
            <div class="header">
                <div class="left_header" >
                    <img src="images/logo.png" class="logo" alt="Logo">
                </div>
                <div class="right_header">
                    <div class="user-name" id="user-name">
                        <div class="avatar">
                            <img th:src="${pfpurl}" class="user-pfp-img" id="user-pfp-img" alt="user-pfp" onerror="this.src='images/default-pfp.png'">
                        </div>
                        <p id="username" th:text="${name}"></p>
                    </div>
                    <div class="user-logout" id="user-logout">
                        <img src="images/logout.svg" class="user-logout-img" alt="user-pfp">
                    </div>
                </div>
            </div>

            <div class="page-parent">

                <div class="box" id="menu-document">
                    <div class="background-box">
                        <div class="content-box" id="document-field"  >
                            <h3>Your Team</h3>
                            <div class="inner-content-box" id="team-content">
                            </div>
                            <br>
                            <h3>Team Details</h3>
                            <div class="inner-content-box" id="team-details">
                                <h4 id="team-size">Team Size:  0 / 6</h4>
                            </div>
                            <div class="inner-content-box" id="team-details">
                                <h4 id="team-types">Team Types: None</h4>
                            </div>
                            <div class="inner-content-box" id="team-details">
                                <h4 id="team-average-stats">Team Stats Average: None</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box" id="search-document">
                    <div class="background-box">
                        <div class="content-box" id="search-section">
                            <h3>Find a Pokémon by name or ID.</h3>
                            <div class="search-pokemon-selection" >
                                <input type="text" id="search" placeholder="Search for a Pokemon ...">
                                <button class="image-button" id="search-button"><img src="images/search-icon-white.svg" alt="Search" class="button-img"/></button>
                                <button class="image-button" id="random-button"><img src="images/shuffel-icon-white.svg" alt="Random" class="button-img"/></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box" id="pokemon-document">
                    <div class="background-box">
                        <div class="content-box" id="pokemon-details">
                            <h3>Pokémon Details</h3>

                            <div class="inner-content-box" id="pokemon-name">
                                <h4 id="name-header" th:text="|Name: ${pokemon.name} / ID: ${pokemon.id}|"></h4>
                                <button id="add-to-team" class="add-team-button">Add to Team</button> 
                            </div>

                            <div class="inner-content-box" id="pokemon-images">
                                <h4 id="image-header">Images:</h4>
                                <img id="pokemon-pixel-artwork-image"
                                    th:src="${pokemon.sprites.frontDefault}"
                                    class="pokemon-image"
                                    alt="Pixel Artwork">
                                <img id="pokemon-official-artwork-image"
                                    th:src="${pokemon.sprites.other.officialArtwork.frontDefault}"
                                    class="pokemon-image"
                                    alt="Official Artwork">
                            </div>

                            <div class="inner-content-box" id="pokemon-generation">
                                <h4 id="generation-header" th:text="|Generation: ${generation}|"></h4>
                            </div>

                            <div class="inner-content-box" id="pokemon-height">
                                <h4 id="height-header" th:text="|Height: ${pokemon.height}|"></h4>
                            </div>

                            <div class="inner-content-box" id="pokemon-weight">
                                <h4 id="weight-header" th:text="|Weight: ${pokemon.weight}|"></h4>
                            </div>

                            <div class="inner-content-box" id="pokemon-types">
                                <h4 id="types-header">
                                    Types:
                                    <th:block th:each="type : ${pokemon.types}">
                                        <span th:text="${type.inner.name}"></span>
                                    </th:block>
                                </h4>
                            </div>

                            <div class="inner-content-box" id="pokemon-abilities">
                                <h4 id="abilities-header">
                                    Abilities:
                                    <th:block th:each="ability: ${pokemon.abilities}">
                                        <span th:text="${ability.inner.name}"></span>
                                    </th:block>
                                </h4>
                            </div>

                            <div class="inner-content-box" id="pokemon-stats">
                                <h4 id="stats-header">
                                    Stats:
                                    <table>
                                        <tr th:each="stat : ${pokemon.stats}">
                                            <td th:text="${stat.inner.name}">Test</td>
                                            <td th:text="${stat.baseStat}"></td>
                                        </tr>
                                    </table>
                                </h4>
                            </div>

                            <div class="inner-content-box" id="pokemon-forms">
                                <h4 id="forms-header">
                                    Forms:
                                    <th:block th:each="form: ${pokemon.forms}">
                                        <span th:text="${form.name}">somthing wong</span>
                                    </th:block>
                                </h4>
                            </div>

                            <div class="inner-content-box" id="pokemon-cries">
                                <h4 id="cries-header">Cries:</h4>

                                <h4 id="latest-cry-header">Latest Cry:</h4>
                                <audio id="latest-cry" class="audio" controls>
                                    <source th:src="${pokemon.cries.latest}" type="audio/ogg">
                                    Your browser does not support the audio element.
                                </audio>

                                <h4 id="legacy-cry-header">Legacy Cry:</h4>
                                <audio id="legacy-cry" class="audio" controls>
                                    <source th:src="${pokemon.cries.legacy}" type="audio/ogg">
                                    Your browser does not support the audio element.
                                </audio>
                            </div>

                            <div class="inner-content-box" id="pokemon-moves">
                                <h4 id="move-header">
                                    Moves:
                                    <table>
                                        <tr th:each="move : ${pokemon.moves}">
                                            <td class="move" th:text="${move.inner.name}">somthing wong</td>
                                        </tr>
                                    </table>
                                </h4>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>

    <script type="module" src="js/home.js"></script>
    </body>
</html>
