<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Pokédex 2.0</title>
        <link rel="icon" type="image/png" href="images/webicon.png">
        <link rel="stylesheet" href="stylesheet/default.css">
        <link rel="stylesheet" href="stylesheet/homeempty.css">
    </head>

    <body>
        <main>


            <div class="header">
                <div class="left_header" >
                    <img src="images/logo.png" class="logo" alt="Logo">
                </div>
                <div class="right_header">
                    <div class="user-name" id="user-name">
                        <div class="avatar">
                            <img th:src="${pfpurl}" class="user-pfp-img" id="user-pfp-img" alt="user-pfp" onerror="this.src='images/default-pfp.png'">
                        </div>
                        <p id="username" th:text="${name}"></p>
                    </div>
                    <div class="user-logout" id="user-logout">
                        <img src="images/logout.svg" class="user-logout-img" alt="user-pfp">
                    </div>
                </div>
            </div>


            <div class="page-parent">

                <div class="box" id="menu-document">
                    <div class="background-box">
                        <div class="content-box" id="document-field"  >
                            <h3>Your Team</h3>
                            <div class="inner-content-box" id="team-content">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box" id="search-document">
                    <div class="background-box">
                        <div class="content-box" id="search-section">
                            <h3>Find a Pokémon by name or ID.</h3>
                            <div class="search-pokemon-selection" >
                                <input type="text" id="search" placeholder="Search for a Pokemon ...">
                                <button class="image-button" id="search-button"><img src="images/search-icon-white.svg" alt="Search" class="button-img"/></button>
                                <button class="image-button" id="random-button"><img src="images/shuffel-icon-white.svg" alt="Random" class="button-img"/></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box" id="pokemon-document">
                    <div class="background-box" id="rectangle-content">
                        <div class="content-box" id="pokemon-details">
                            <h3>Start searching to make something appear!</h3>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    <script type="module" src="js/homeempty.js"></script>
    </body>
</html>
