<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pokédex 2.0</title>
        <link rel="icon" type="image/png" href="images/webicon.png">
        <link rel="stylesheet" href="stylesheet/login.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
        <link
                href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&amp;display=swap"
                rel="stylesheet">
    </head>

    <body>
        <main>
            <div class="header">
                <div class="left_header">
                    <div class="header-dropdown">
                        <button id="menu-button" class="header-dropdown-button"><img src="images/menu-icon-white.svg" class="button-img" alt="Dropdown"></button>
                        <div class="header-dropdown-content">
                            <a href="#">Teams Browser</a>
                            <a href="#">Your Teams</a>
                            <a href="#">Idk what to put here yet</a>
                        </div>
                    </div>
                    <button onclick="location.href='/login'" type="submit" class="header-button" >Login</button>
                    <button onclick="location.href='/signup'" type="submit" class="header-button" >Sign up</button>
                </div>
                <div class="right_header">
                    <img src="images/logo.png" class="logo" alt="Logo">
                </div>
            </div>

            <div class="login-window" id="login-window">
                <div class="frame">
                    <h2>Login</h2>
                    <form id="loginForm">
                        <input type="text" placeholder="Username" class="input" id="usernameoremail">
                        <input type="password" placeholder="Password" class="input" id="password">
                        <input type="submit" class="button" value="Login">
                    </form>
                </div>
            </div>
        </main>

        <script src="js/login.js"></script>
    </body>
</html>
