.login-window {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.frame {
    width: 18vw;
    height: auto;
    margin: 40px auto 0;
    padding: 32px;
    background: #263238;
    border-radius: 24px;
    box-shadow: 0 4px 24px rgba(99, 99, 99, 0.15);
    display: block;
    text-align: center;
    z-index: 1;
    font: inherit;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input[type="text"], .input[type="password"]  {
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font: inherit;
    background-color: #b43f3d;
    color: #f0f8ff;
    width: 16vw;
    margin-top: 0px;
    margin-bottom: 10px;
}

.button[type="button"] .a {
    background-color: #EF5350;
    color: #f0f8ff;
    border: none;
    padding: 10px;
    border-radius: 12px;
    width: 17.2vw;
    margin-top: 0px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font: inherit;
    cursor: pointer;
}

.button {
    background-color: #EF5350;
    color: #f0f8ff;
    border: none;
    padding: 10px;
    border-radius: 12px;
    width: 17.2vw;
    margin-top: 0px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font: inherit;
    cursor: pointer;
    
}



button {
    background-color: #EF5350;
    color: #f0f8ff;
    border: none;
    padding: 10px;
    border-radius: 12px;
    font: inherit;
    cursor: pointer;
    height: 38px;        /* same as input */
    width: 38px;         /* square buttons */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16vw;
}


#submit-button {
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font: inherit;
    background-color: #EF5350;
    color: #f0f8ff;
    width: 16vw;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
}