body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f0f8ff;
    color: #f0f8ff;

    /* global Font + Gewicht */
    font-family: Asap, sans-serif;
    font-weight: bold;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font: inherit;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font: inherit;
    font-size: 2rem; 
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font: inherit;
    font-size: 3em; 
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 80px;
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    backdrop-filter: blur(12px);
    background-color: #EF5350;
    box-shadow: 0 4px 24px rgba(99, 99, 99, 0.15);
    z-index: 10;
}

.left_header {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.right_header {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.header-button {
    background-color: #263238;
    color: #f0f8ff;
    border: none;
    padding: 10px;
    border-radius: 12px;
    margin-left: 10px;
    font: inherit;
    cursor: pointer;
}

.logo {
    width: 128px;
    height: 52px;
    margin-left: -10px;
}

.scroll-rectangle {
    width: 80vw;
    margin: 40px auto 0;
    padding: 32px;
    background: #263238;
    border-radius: 24px;
    box-shadow: 0 4px 24px rgba(99, 99, 99, 0.15);
    overflow: hidden;
    display: block;
    justify-content: center;
    justify-items: center;
    align-content: center;
    position: relative;
    z-index: 1;
    font: inherit;
}

.scroll-rectangle h2 {
    justify-self: left;
    margin-left: 60px;
}

.rectangle-content {
    width: 100%;
}

main {
    margin-top: 100px; 
}

.pokemon-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pokemon-image {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    width: 300px;
    height: 300px;
    margin: 0px;
    display: inline-block;

}

#pokemon-official-artwork-image {
    image-rendering: optimizeQuality;
}

.image-container {
    display: none;
    background-color: #f0f8ff; 
    color: #f0f8ff;
    padding: 20px; 
    border-radius: 10px; 
    width: 100px; 
    height: 100px; 
}

a {
    color: #f0f8ff;
    text-decoration: none;
}

.pokemon-team-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #263238;
    padding: 10px;
    border-radius: 12px;
    margin-top: 10px;
}

.remove-team-btn[type="button"] {
    background-color: #EF5350;
    color: #f0f8ff;
    border: none;
    padding: 8px 12px;
    border-radius: 12px;
    cursor: pointer;
}

.remove-team-btn[type="button"]:hover {
    background-color: #b43f3d;
}

.pokemon-details input[type="button"],
.pokemon-details button {
    background-color: #EF5350;
    color: #f0f8ff;
    border: none;
    padding: 12px 8px 12px 8px;
    border-radius: 12px;
    cursor: pointer;
    font: inherit;
    margin-right: 0px;
}

.team, .pokemon-details, .search-section {
    margin: 40px;
    padding: 20px;
    border-radius: 24px;
    background: #f0f8ff;
    box-shadow: 0 4px 24px rgba(99, 99, 99, 0.15);
    position: relative;
    z-index: 1;
    color: #263238;
    font: inherit;
    max-width: 200%
}

.pokemon-team-button {
    color: #f0f8ff;
}

.team h3, .pokemon-details h3, .search-section h3 {
    margin: 5px;
    text-align: left;
}

.pokemon-details input[type="text"] {
    width: auto;
    padding: 10px;
    border-radius: 12px;
    margin-right: 10px;
    font: inherit;
}

.search-section input[type="text"] {
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
    margin-right: 10px;
    font: inherit;
    background-color: #b43f3d;
    color: #f0f8ff;
    min-width: fit-content;
    box-sizing: border-box;
    margin-top: 10px;
}

.search-section input[type="text"]:hover {
    background-color: #EF5350;
}

.search-section input[type="button"] {
    background-color: #EF5350;
    color: #f0f8ff;
    border: none;
    padding: 10px;
    border-radius: 12px;
    margin-right: 10px;
    margin-top: 10px;
    font: inherit;
    cursor: pointer;
}

.search-section input[type="text"]:focus,
.search-section input[type="button"]:focus,
.pokemon-details input[type="text"]:focus,
.pokemon-details input[type="button"]:focus,
.pokemon-details button:focus {
    outline: none;
    border-color: #263238;
}

.search-section input[type="button"]:hover,
.pokemon-details button:hover {
    background-color: #b43f3d;
}



/* == Pokemon details == */

.poke-div {
    padding: 8px 20px 8px;
    margin: 10px 0 0 0;
    border-radius: 12px;
    font: inherit;
    background-color: #263238;
    color: #f0f8ff;
    display: fixed;
    justify-content: space-between;
    align-items: center;
}

#pokemon-name, #pokemon-team-button {
    padding: 8px 20px 8px;
    margin: 10px 0 0 0;
    border-radius: 12px;
    font: inherit;
    background-color: #263238;
    color: #f0f8ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pokemon-team-button {
    cursor: pointer;
    user-select: none;
}

#latest-cry, #legacy-cry {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    border-radius: 12px;
    background-color: #f0f8ff;
    color: #f0f8ff;
}

#latest-cry, #legacy-cry, #latest-cry-header, #legacy-cry-header {
    display: none;
}


audio {
    background-color: #060606;
    color: #f0f8ff;
    margin-top: 10px;
    margin-bottom: 10px;

}


.tooltip { 
    position: relative; 
    display: inline-block; 
    margin-bottom: 10px;
    padding-bottom: 10px;
    user-select: none;
	height: 18px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    
    /* gemeinsame Box-Properties */
    background-color: #EF5350;   /* gleiche wie z. B. .poke-div */
    color: #f0f8ff;
    padding: 10px;
    border-radius: 12px;
    white-space: nowrap;
    z-index: 10;
    box-shadow: 0 4px 24px rgba(99, 99, 99, 0.15);

    /* Unterschiede */
    font-family: Asap, sans-serif; 
    margin: 5px 0; /* eigenes Margin */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.pokemon-move {
    margin: 5px 0;
    text-align: left;
    font-family: Asap, sans-serif;
    font-size: 1em;
    color: #f0f8ff;
}
